* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #e5f8d0;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #09473f;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin: 1rem;
}
button:first-child {
  background-color: #e2cd0c
}
button:nth-child(2) {
  background-color: #0cdbe2
}
button:hover,
button:active {
  background-color: #107668;
  border-color: #107668;
}
